.basket-list {
  width: 100%;
  display: grid;
  grid-template-columns: 150px repeat(3, 1fr) 150px;
  grid-template-rows: 30px repeat(auto, 130px);

  &__title-wrap {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    border-top: 1px solid var(--border-grey);
    border-bottom: 1px solid var(--border-grey);
    
  } 

    &-title {
      color: #877A87;
      font-size: 13px;
      flex: 3;
      text-align: center;
      @include regular(); 
      &#title-name {
        text-align: left;
      }
      &#title-summ {
        text-align: right;
      }
    }

  &__img-wrap {

    &-first {
      background-color: green;
     
    }
  }

  &__quantity-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__quantity {
    width: 110px;
    height: 45px;
    border: 1px solid var(--border-grey);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    &-btn {
      @include reset-button-styles();
    }

    &-icon {
      width: 10px;
      height: 10px;
      &:hover {
        color: var(--gradient-purple); 
      }
    }

    &-number {
      margin: 0 15px;
    }
  }

  &-right {
    display: flex;
  }

  &-price {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    color: var(--dark-purple);
    
    @include semibold();

    &-note {
      position: absolute;
      right: 0;
      text-align: right;
    }

    &-multiply {
      color: #9E839E;
      font-size: 14px;
      line-height: 20px;
      @include regular();
    }

    &-sale {
      background: #CEC3EB;
      border-radius: 6px;
      padding: 5px 10px;
      font-size: 14px;
      line-height: 16px;
      color: #fff;
      @include regular();
    }
  }

  &-delite {
    @include reset-button-styles();
    
    &-icon {
      width: 19px;
      height: 20px;
    }
  }
}

.grid-content {
  grid-row-start: 2;
}