.blog {
  padding-bottom: 100px;
  &__header {
    background: #CEC3EB;
    margin-bottom: 40px;
  }

  &__content {
    @include std-container();
  }

  &__title {
    font-size: 35px;
    line-height: 40px;
    color: var(--dark-purple);
    @include semibold();
    margin-bottom: 30px;
    margin-top: 20px;
  } 
}