.order {
  &__header {
    background: #CEC3EB;
    margin-bottom: 44px;
  }

  &__content {
    @include std-container()

  }

  &__title {
    font-size: 35px;
    line-height: 40px;
    color: var(--dark-purple-titles);
    @include semibold();
    margin-top: 44px;
    margin-bottom: 30px;
  }
}