@font-face {
  font-family: 'Montserrat-semibold';
  src: url('../fonts/Montserrat-SemiBold.woff'), 
}

@font-face {
  font-family: 'Montserrat-regular';
  src: url('../fonts/Montserrat-Regular.woff'),
}

@font-face {
  font-family: 'Montserrat-bold';
  src: url('../fonts/Montserrat-Bold.woff');
}

@font-face {
  font-family: 'Cormorant Infant';
  src: url('../fonts/CormorantInfant-Bold.woff');
}