{{> head title="about us"}}

<div class="page-wrap">
  <div class="page-wrap__content">
    <div class="about-us">
      <div class="about-us__header">
        {{> header }}
      </div>
      {{> pageLinks main.pageLinksNotFound }}
      <div class="about-us__content">
        <div class="about-us__main-wrap">
          <h1 class="about-us__title">О нас</h1>
          <div class="about-us__main">
            <div class="about-us__info">
              <p class="about-us__text">
                Текст о компании. Но базовый вектор развития способствует подготовке и реализации поэтапного и последовательного развития общества. Банальные, но неопровержимые выводы, а также многие известные личности, вне зависимости от их уровня, должны быть ограничены исключительно образом мышления. Разнообразный и богатый опыт говорит нам, что синтетическое тестирование способствует подготовке и реализации глубокомысленных рассуждений.
              </p>
              <p class="about-us__text">
                А ещё представители современных социальных резервов своевременно верифицированы. Ключевые особенности структуры проекта освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, преданы социально-демократической анафеме. Повседневная практика показывает, что высокотехнологичная концепция общественного уклада требует от нас анализа форм воздействия. Учитывая ключевые сценарии поведения, новая модель организационной деятельности предполагает независимые способы реализации инновационных методов управления процессами! Мы вынуждены отталкиваться от того, что граница обучения кадров способствует подготовке и реализации укрепления моральных ценностей. В рамках спецификации современных стандартов, непосредственные участники технического прогресса призваны к ответу.
              </p>
              <p class="about-us__text">
                С учётом сложившейся международной обстановки, семантический разбор внешних противодействий играет важную роль в формировании новых принципов формирования материально-технической и кадровой базы. Современные технологии достигли такого уровня, что сплочённость команды профессионалов создаёт предпосылки для как самодостаточных, так и внешне зависимых концептуальных решений. Приятно, граждане, наблюдать, как акционеры крупнейших компаний преданы социально-демократической анафеме.
              </p>
            </div>
            <div class="about-us__right-side">
              <div class="about-us__img-wrap">
                <img src="https://place-hold.it/520x400" alt="" class="about-us__img">
              </div>
              <button class="about-us__btn" type="button">
                Адреса наших магазинов
                <svg class="about-us__btn-icon" viewBox="0 0 100 100">
                  <use href="{{assets}}/img/svg-sprite/sprite.svg#lil_white_arrow"></use>
                </svg>
              </button>
            </div>
          </div>   
        </div>
        <div class="about-us__team">
          <div class="about-us__team-container">
            <h1 class="about-us__team-title">Наша команда профессионалов</h1>
              
          </div>
            {{> teamSlider }}
        </div>     
        <div class="about-us__flowers-wrap">
          <h1 class="about-us__title">О цветах</h1>
          <div class="about-us__flowers">
            <div class="about-us__info">
              <p class="about-us__text">
                Цветы к нам привозят из разных стран и уголков света. Основными поставщиками являются: Голландия, Эквадор, Кения, Италия. Также мы закупаем и отечественные цветы. Немного слов о транспортировке, которая позволяет цветам оставаться красивыми и свежими долгое время. Еще пара слов о хранении, об особенностях. 
                Красота цветка скоротечна, а ведь тем же эквадорским розам приходится преодолевать более 11 тысяч километров, чтобы попасть с плантации на оптовый склад. Важно, чтобы на этот путь ушло не более суток. Поэтому цветы путешествуют в несколько этапов:
              </p>
              <ul class="about-us__list">
                <li class="about-us__list-item">На складе плантации цветы хранят в холодильниках пачками по 20–25 штук, где поддерживается температура в 4–5 °С. Чтобы избежать гниения, цветы помещают в растворенную глюкозу или аскорбиновую кислоту.</li>
                <li class="about-us__list-item">Во время полета на груз составляется таможенная декларация, он помечается как скоропортящийся.</li>
                <li class="about-us__list-item">На таможне цветы проходят досмотр вне очереди. Груз быстро, но тщательно проверяют таможенники и эксперты фитосанитарной службы.</li>
                <li class="about-us__list-item">На складе все еще свежие цветы помещают в воду, чтобы они восстановились после перелета.</li>
                <li class="about-us__list-item">Последний этап пути – в рефрижераторах коробки с цветами развозятся по всей стране в течение 3–5 дней.</li>
              </ul>
              <p class="about-us__text">
                Цветам приходится преодолевать неблизкий путь. Но благодаря всем этим мерам мы можем рассчитывать, что приобретенный букет будет радовать глаз еще долгое время.
              </p>
            </div>
            <div class="about-us__right-side">
              <div class="about-us__img-wrap">
                <img src="https://place-hold.it/520x400" alt="" class="about-us__img">
              </div>
            </div>
          </div>  
        </div>
        <div class="about-us__legal">
          <h1 class="about-us__title">Юридическая информация</h1>
          <div class="about-us__legal-row">
            <div class="about-us__legal-row-item">
              <p class="about-us__legal-title">
                <svg class="about-us__legal-icon legal-location" width="15.41" height="22">
                  <use href="{{assets}}/img/svg-sprite/sprite.svg#location"></use>
                </svg>
                Россия, Омск - 644112
              </p>
              <p class="about-us__legal-text">
                Кировский округ, ул. Крупской, дом 13/4
              </p>
            </div>
            <div class="about-us__legal-row-item">
              <p class="about-us__legal-title">
                <svg class="about-us__legal-icon legal-case" width="22" height="18.33">
                  <use href="{{assets}}/img/svg-sprite/sprite.svg#case"></use>
                </svg>
                Полное наименование:
              </p>
              <p class="about-us__legal-text">
                Индивидуальный предприниматель - Андрющенко Юрий
              </p>
            </div>
          </div>
          <div class="about-us__legal-row">
            <div class="about-us__legal-row-item">
              <p class="about-us__legal-phone">
                <svg class="about-us__legal-icon legal-phone" width="20" height="20">
                  <use href="{{assets}}/img/svg-sprite/sprite.svg#phone_contacts"></use>
                </svg>
                +7 (3812) 37-86-04
              </p>
              <p class="about-us__legal-phone">+7 (923) 824-81-41</p>
              <p class="about-us__legal-phone">+7 (923) 697-80-30</p>
              <p class="about-us__legal-phone">+7 (923) 675-50-51</p>
            </div>
            <div class="about-us__legal-row-item">
              <div class="about-us__legal-string">
                <p class="about-us__legal-title">
                  <svg class="about-us__legal-icon legal-bank" width="22" height="22">
                    <use href="{{assets}}/img/svg-sprite/sprite.svg#bank"></use>
                  </svg>
                  Расчетный счет
                </p>
                <div class="about-us__legal-dotes"></div>
                <p class="about-us__legal-number">00</p>
              </div>
              <div class="about-us__legal-string">
                <p class="about-us__legal-title">К/с:</p>
                <div class="about-us__legal-dotes"></div>
                <p class="about-us__legal-number">0000000000000</p>
              </div>
              <div class="about-us__legal-string">
                <p class="about-us__legal-title">ИНН:</p>
                <div class="about-us__legal-dotes"></div>
                <p class="about-us__legal-number">0000000000</p>
              </div>
              <div class="about-us__legal-string">
                <p class="about-us__legal-title">ОГРН:</p>
                <div class="about-us__legal-dotes"></div>
                <p class="about-us__legal-number">0000000000000000000000</p>
              </div>
              <div class="about-us__legal-string">
                <p class="about-us__legal-title">БИК:</p>
                <div class="about-us__legal-dotes"></div>
                <p class="about-us__legal-number">00000</p>
              </div>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>
</div>

{{> footerContent }}

{{> footer }}