{{> head }}

<div class="page-wrap">
  <div class="page-wrap__content">
    <div class="blog">
      <div class="blog__header">
        {{> header }}
      </div>
      {{> pageLinks main.pageLinksNotFound }}

      <div class="blog__content">
        <div class="blog__content-container">
          <h1 class="blog__title">Интересные статьи</h1>
          {{> blogList }}
        </div>

        <svg class="blog__bg-leafs"> 
          <use href="{{assets}}/img/svg-sprite/sprite.svg#leafs"></use>
        </svg>
  
        <svg class="blog__bg-flower">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#logo_flower_pink"></use>
        </svg>

        <svg class="blog__bg-flower">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#logo_flower_pink"></use>
        </svg>
      </div>
    </div>
  </div>
</div>

{{> footerContent }}
{{> footer }}