{{> head }}

<div class="page-wrap">
  <div class="page-wrap__content">
    <div class="main">
      <div class="main__header">
        {{> header }}
      </div>
      <div class="main__slider js-main-slider">
        <div class="main__slider-wrap swiper-wrapper">
          <div class="main__slider-slide swiper-slide">
            <div class="main__slider-slide-text">
              <h1 class="main__slider-slide-title">Мы не продаем цветы, Мы дарим эмоции!</h1>
              <p class="main__slider-slide-note">Наша курьерская служба сделает все идеально: поможет с покупкой подарка или записки и сохранит интригу, если вы захотите остаться инкогнито</p>
            </div>
            <img src="../../assets/img/main/main_slide_1.jpg" alt="" class="main__slider-slide-img">
          </div>
          <div class="main__slider-slide swiper-slide">
            <div class="main__slider-slide-text">
              <h1 class="main__slider-slide-title">Мы не продаем цветы, Мы дарим эмоции!</h1>
              <p class="main__slider-slide-note">Наша курьерская служба сделает все идеально: поможет с покупкой подарка или записки и сохранит интригу, если вы захотите остаться инкогнито</p>
            </div>
            <img src="../../assets/img/main/main_slide_2.jpg" alt="" class="main__slider-slide-img">
          </div>
          <div class="main__slider-slide swiper-slide">
            <div class="main__slider-slide-text">
              <h1 class="main__slider-slide-title">Мы не продаем цветы, Мы дарим эмоции!</h1>
              <p class="main__slider-slide-note">Наша курьерская служба сделает все идеально: поможет с покупкой подарка или записки и сохранит интригу, если вы захотите остаться инкогнито</p>
            </div>
            <img src="../../assets/img/main/main_slide_3.jpg" alt="" class="main__slider-slide-img">
          </div>
          <div class="main__slider-slide swiper-slide">
            <div class="main__slider-slide-text">
              <h1 class="main__slider-slide-title">Мы не продаем цветы, Мы дарим эмоции!</h1>
              <p class="main__slider-slide-note">Наша курьерская служба сделает все идеально: поможет с покупкой подарка или записки и сохранит интригу, если вы захотите остаться инкогнито</p>
            </div>
            <img src="../../assets/img/main/main_slide_4.jpg" alt="" class="main__slider-slide-img">
          </div>
          <div class="main__slider-slide swiper-slide">
            <div class="main__slider-slide-text">
              <h1 class="main__slider-slide-title">Мы не продаем цветы, Мы дарим эмоции!</h1>
              <p class="main__slider-slide-note">Наша курьерская служба сделает все идеально: поможет с покупкой подарка или записки и сохранит интригу, если вы захотите остаться инкогнито</p>
            </div>
            <img src="../../assets/img/main/main_slide_5.jpg" alt="" class="main__slider-slide-img">
          </div>
          <div class="main__slider-slide swiper-slide">
            <div class="main__slider-slide-text">
              <h1 class="main__slider-slide-title">Мы не продаем цветы, Мы дарим эмоции!</h1>
              <p class="main__slider-slide-note">Наша курьерская служба сделает все идеально: поможет с покупкой подарка или записки и сохранит интригу, если вы захотите остаться инкогнито</p>
            </div>
            <img src="../../assets/img/main/main_slide_6.jpg" alt="" class="main__slider-slide-img">
          </div>
          <div class="main__slider-slide swiper-slide">
            <div class="main__slider-slide-text">
              <h1 class="main__slider-slide-title">Мы не продаем цветы, Мы дарим эмоции!</h1>
              <p class="main__slider-slide-note">Наша курьерская служба сделает все идеально: поможет с покупкой подарка или записки и сохранит интригу, если вы захотите остаться инкогнито</p>
            </div>
            <img src="../../assets/img/main/main_slide_7.jpg" alt="" class="main__slider-slide-img">
          </div>
        </div>
        <div class="main__slider-navigation swiper-navigation">
          <button class="main__slider-btn swiper-button-prev">
            <svg class="main__slider-btn-icon">
              <use href="{{assets}}/img/svg-sprite/sprite.svg#lil_white_arrow"></use>
            </svg>
          </button>
          <button class="main__slider-btn swiper-button-next">
              <svg class="main__slider-btn-icon">
                <use href="{{assets}}/img/svg-sprite/sprite.svg#lil_white_arrow"></use>
              </svg>
          </button>
        </div>
      </div>
      <div class="main__container">
    
        {{> filter }}

        <div class="main__products">
          {{> products context = main.productsMain}}
          <div class="main__products-compilation">
            <h3 class="main__products-compilation-title">Подборки популярных поводов:</h3>
            <div class="main__products-compilation-list">
              <button class="main__products-compilation-list-item-wrap">
                <div class="main__products-compilation-list-item">
                  <div class="main__products-compilation-list-group">
                    <img src="https://place-hold.it/45x45" alt="" class="main__products-compilation-list-img">
                    <span class="main__products-compilation-list-text">8 марта</span>
                  </div>
                  <svg class="main__products-compilation-list-icon">
                    <use href="{{assets}}/img/svg-sprite/sprite.svg#arrow_forward"></use>
                  </svg>  
                </div>
              </button>
              <button class="main__products-compilation-list-item-wrap">
                <div class="main__products-compilation-list-item">
                  <div class="main__products-compilation-list-group">
                    <img src="https://place-hold.it/45x45" alt="" class="main__products-compilation-list-img">
                    <span class="main__products-compilation-list-text">ТОП 100</span>
                  </div>
                  <svg class="main__products-compilation-list-icon">
                    <use href="{{assets}}/img/svg-sprite/sprite.svg#arrow_forward"></use>
                  </svg>  
                </div>
              </button>
              <button class="main__products-compilation-list-item-wrap">
                <div class="main__products-compilation-list-item">
                  <div class="main__products-compilation-list-group">
                    <img src="https://place-hold.it/45x45" alt="" class="main__products-compilation-list-img">
                    <span class="main__products-compilation-list-text">Хиты продаж</span>
                  </div>
                  <svg class="main__products-compilation-list-icon">
                    <use href="{{assets}}/img/svg-sprite/sprite.svg#arrow_forward"></use>
                  </svg>  
                </div>
              </button>
              <button class="main__products-compilation-list-item-wrap">
                <div class="main__products-compilation-list-item">
                  <div class="main__products-compilation-list-group">
                    <img src="https://place-hold.it/45x45" alt="" class="main__products-compilation-list-img">
                    <span class="main__products-compilation-list-text">День матери</span>
                  </div>
                  <svg class="main__products-compilation-list-icon">
                    <use href="{{assets}}/img/svg-sprite/sprite.svg#arrow_forward"></use>
                  </svg>  
                </div>
              </button>
              <button class="main__products-compilation-list-item-wrap">
                <div class="main__products-compilation-list-item">
                  <div class="main__products-compilation-list-group">
                    <img src="https://place-hold.it/45x45" alt="" class="main__products-compilation-list-img">
                    <span class="main__products-compilation-list-text">День рождения</span>
                  </div>
                  <svg class="main__products-compilation-list-icon">
                    <use href="{{assets}}/img/svg-sprite/sprite.svg#arrow_forward"></use>
                  </svg>  
                </div>
              </button>
              <button class="main__products-compilation-list-item-wrap">
                <div class="main__products-compilation-list-item">
                  <div class="main__products-compilation-list-group">
                    <img src="https://place-hold.it/45x45" alt="" class="main__products-compilation-list-img">
                    <span class="main__products-compilation-list-text">Свадьба</span>
                  </div>
                  <svg class="main__products-compilation-list-icon">
                    <use href="{{assets}}/img/svg-sprite/sprite.svg#arrow_forward"></use>
                  </svg>  
                </div>
              </button>
              <button class="main__products-compilation-list-item-wrap">
                <div class="main__products-compilation-list-item">
                  <div class="main__products-compilation-list-group">
                    <img src="https://place-hold.it/45x45" alt="" class="main__products-compilation-list-img">
                    <span class="main__products-compilation-list-text">Юбилей</span>
                  </div>
                  <svg class="main__products-compilation-list-icon">
                    <use href="{{assets}}/img/svg-sprite/sprite.svg#arrow_forward"></use>
                  </svg>  
                </div>
              </button>
              <div class="main__products-compilation-list-all">
                <button class="main__products-compilation-list-all-btn" type="button">
                  <svg class="main__products-compilation-list-all-icon">
                    <use href="{{assets}}/img/svg-sprite/sprite.svg#lil_white_arrow"></use>
                  </svg>
                </button>
                <p class="main__products-compilation-list-all-text">
                  Смотреть все подборки
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="main__block">
          <h1 class="main__title">Подойдет к любому празднику</h1>
          <div class="main__block-pannel">
            <div class="main__block-item">
              <div class="main__block-item-circle">
                <svg class="main__block-item-icon" width="70" height="70">
                  <use href="{{assets}}/img/svg-sprite/sprite.svg#main_block_baloons"></use>
                </svg>
              </div>
              <span class="main__block-item-text">Воздушные шары</span>
              <div class="main__block-item-composition">
                <svg class="main__block-item-composition-logo">
                  <use href="{{assets}}/img/svg-sprite/sprite.svg#logo_part"></use>
                </svg>
                <img src="../assets/img/main/baloons.png" alt="" class="main__block-item-img">
              </div>
            </div>
            <div class="main__block-item">
              <div class="main__block-item-circle">
                <svg class="main__block-item-icon" width="51" height="70">
                  <use href="{{assets}}/img/svg-sprite/sprite.svg#main_block_bear"></use>
                </svg>
              </div>
              <span class="main__block-item-text">Мягкие игрушки /</br> медведи</span>
              <div class="main__block-item-composition">
                <svg class="main__block-item-composition-logo">
                  <use href="{{assets}}/img/svg-sprite/sprite.svg#logo_part"></use>
                </svg>
                <img src="../assets/img/main/bear.png" alt="" class="main__block-item-img">
              </div>
            </div>
            <div class="main__block-item">
              <div class="main__block-item-circle">
                <svg class="main__block-item-icon" width="66" height="66">
                  <use href="{{assets}}/img/svg-sprite/sprite.svg#main_block_candies"></use>
                </svg>
              </div>
              <span class="main__block-item-text">Конфеты</span>
              <div class="main__block-item-picture">
                <img src="../assets/img/main/candies.png" alt="" class="main__block-item-img">
              </div>
            </div>
            <div class="main__block-item">
              <div class="main__block-item-circle">
                <svg class="main__block-item-icon" width="47" height="70">
                  <use href="{{assets}}/img/svg-sprite/sprite.svg#main_block_cards"></use>
                </svg>
              </div>
              <span class="main__block-item-text">Открытки</span>
              <div class="main__block-item-picture">
                <img src="../assets/img/main/cards_2.png" alt="" class="main__block-item-img card-top">
                <img src="../assets/img/main/cards_1.png" alt="" class="main__block-item-img card-bottom">
              </div>
            </div>
            <div class="main__block-item">
              <div class="main__block-item-circle">
                <svg class="main__block-item-icon" width="71.5" height="80">
                  <use href="{{assets}}/img/svg-sprite/sprite.svg#main_block_topers"></use>
                </svg>
              </div>
              <span class="main__block-item-text">Деревянные топеры</span>
              <div class="main__block-item-picture">
                <img src="../assets/img/main/topers.png" alt="" class="main__block-item-img">
              </div>
            </div>
            <div class="main__block-item">
              <div class="main__block-item-circle">
                <svg class="main__block-item-icon" width="38" height="70">
                  <use href="{{assets}}/img/svg-sprite/sprite.svg#main_block_vase"></use>
                </svg>
              </div>
              <span class="main__block-item-text">Вазы расписные</span>
              <div class="main__block-item-picture">
                <img src="../assets/img/main/vase.png" alt="" class="main__block-item-img">
              </div>
            </div>
          </div>
        </div>
      </div>
      {{> delivery }}

      {{> recense }}
    </div>
  </div>
</div>

{{> footerContent }}

{{> footer }}