{{> head }}

<div class="page-wrap">
  <div class="page-wrap__content">
    <div class="main">
      <div class="main__header">
        {{> header }}
      </div>
      <div class="main__slider js-main-slider">
        <div class="main__slider-wrap swiper-wrapper">
          <div class="main__slider-slide swiper-slide">
            <div class="main__slider-slide-text">
              <h1 class="main__slider-slide-title">Мы не продаем цветы, Мы дарим эмоции!</h1>
            </div>
            <img src="../../assets/img/main/main_slide_1.jpg" alt="" class="main__slider-slide-img">
          </div>
          <div class="main__slider-slide swiper-slide">
            <img src="../../assets/img/main/main_slide_2.jpg" alt="" class="main__slider-slide-img">
          </div>
          <div class="main__slider-slide swiper-slide">
            <img src="../../assets/img/main/main_slide_3.jpg" alt="" class="main__slider-slide-img">
          </div>
          <div class="main__slider-slide swiper-slide">
            <img src="../../assets/img/main/main_slide_4.jpg" alt="" class="main__slider-slide-img">
          </div>
          <div class="main__slider-slide swiper-slide">
            <img src="../../assets/img/main/main_slide_5.jpg" alt="" class="main__slider-slide-img">
          </div>
          <div class="main__slider-slide swiper-slide">
            <img src="../../assets/img/main/main_slide_6.jpg" alt="" class="main__slider-slide-img">
          </div>
          <div class="main__slider-slide swiper-slide">
            <img src="../../assets/img/main/main_slide_7.jpg" alt="" class="main__slider-slide-img">
          </div>
        </div>
        <div class="main__slider-navigation swiper-navigation">
          <button class="main__slider-btn swiper-button-prev">
            <svg class="main__slider-btn-icon">
              <use href="{{assets}}/img/svg-sprite/sprite.svg#lil_white_arrow"></use>
            </svg>
          </button>
          <button class="main__slider-btn swiper-button-next">
              <svg class="main__slider-btn-icon">
                <use href="{{assets}}/img/svg-sprite/sprite.svg#lil_white_arrow"></use>
              </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



{{> footer }}