<div class="account-banner sale-banner">
  <div class="account-banner__avatar-wrap">
    <img src="https://place-hold.it/110x110" alt="" class="account-banner__avatar">
  </div>
  <p class="account-banner__name">Здравствуйте, Ирина Валуева!</p>
  <div class="account-banner__bottom">
    <div class="banner__circle">
      <svg class="banner__circle-icon" >
        <use href="{{assets}}/img/svg-sprite/sprite.svg#lil_flower"></use>
      </svg>
    </div>
    <p class="banner__text">
      На вашем счету</br>
      <span class="banner__text-strong">56</span> бонусных баллов 
    </p>
    <svg class="banner__flower" viewBox="0 0 75 72">
      <use href="{{assets}}/img/svg-sprite/sprite.svg#flower"></use>
    </svg>
  </div>
</div>