<div class="account-preview">
  {{!-- Кртинки --}}
  <div class="account-preview__vector-wrap">
    <svg class="account-preview__vector-flower">
      <use href="{{assets}}/img/svg-sprite/sprite.svg#big_flower"></use>
    </svg>
  </div>

  <div class="account-preview__image-wrap">
    <img src="{{assets}}/img/main/big_flower.png" alt="" class="account-preview__image">
  </div>

  {{!-- /Картинки  --}}

  <div class="account-preview__text-wrap">
    <h1 class="account-preview__title">
      Мы рады, что вы к нам зашли!
    </h1>

    <p class="account-preview__text">
      Здесь вы можете посмотреть ваши недавние заказы, изменить пароль и основную информацию.
    </p>
  </div>
</div>