<div class="button-back-mob">
  <div class="button-back-mob__circle">
    <button class="button-back-mob__btn js-account-back-btn" type="button">
      <svg class="button-back-mob__icon">
        <use href="{{assets}}/img/svg-sprite/sprite.svg#arrow_forward"></use>
      </svg>
    </button>
  </div>
  <span class="button-back-mob__text">{{this.text}}</span>
</div>