<div class="delivery">
  <div class="delivery__container">
      <h1 class="delivery__title">Доставка цветов</h1>
      <div class="delivery__note">
        <svg class="delivery__note-icon">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#clock"></use>
        </svg>
        <span class="delivery__note-text">60 минут</span>
      </div>
      <div class="delivery__list">
        <p class="delivery__list-item">Можете оставаться инкогнито</p>
        <p class="delivery__list-item">Без конкретного адреса, мы сами свяжемся с получателем при наличии его номера телефона</p>
      </div>
      <div class="delivery__woman-wrap">
        <img src="{{assets}}/img/main/delivery_woman.png" alt="" class="delivery__woman">
      </div>
    </div>
</div>