<div class="filter">
  <p class="filter-text">Найдено товаров: <span class="filter-text-thin text-disabled">5 637 шт.</span></p>
  <div class="filter__row">
    <div class="filter__row-sort">
      <p class="filter-text">Сортировать:</p>
      <div class="filter__row-sort-category">
        <span class="filter-text-thin">по популярности</span>
        <svg class="filter-arrow">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#sort_arrow"></use>
        </svg>
      </div>
      <div class="filter__row-sort-category text-disabled">
        <span class="filter-text-thin">по цене</span>
        <svg class="filter-arrow filter-arrow-down">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#sort_arrow"></use>
        </svg>
      </div> 
    </div>
    <div class="filter__row-filters">
      <div class="filter__row-filters-text">
        <svg class="filter__row-filters-icon">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#filter"></use>
        </svg>
        <p class="filter-text">Фильтры:</p>
      </div>
      <div class="filter__select-wrap text-disabled">
        <select name="color" id="" class="js-standard-select">
          <option>Цвет</option>
        </select>
      </div>
      <div class="filter__select-wrap text-disabled">
        <select name="color" id="" class="js-standard-select">
          <option value="" >Цена</option>
        </select>
      </div>
      <div class="filter__select-wrap text-disabled">
        <select name="color" id="" class="js-standard-select">
          <option value="" >Скидки</option>
        </select>
      </div>
    </div>
  </div>
</div>