<div class="reasons">
  <h2 class="reasons__title">Повод</h2>

  <div class="reasons__list">
    {{#each main.reasons}}
    <button class="reasons__list-btn" type="button">
      {{this.title}}
    </button>
    {{/each}}
  </div>
</div>