{{> head }}

<ul>
  <li><a href="{{indexDir}}/pages/main.html">Main page</a></li>
  <li><a href="{{indexDir}}/pages/categories.html">category</a></li>
  <li><a href="{{indexDir}}/pages/basket.html">basket</a></li>
  <li><a href="{{indexDir}}/pages/account.html">account</a></li>
  <li><a href="{{indexDir}}/pages/contacts.html">contacts</a></li>
  <li><a href="{{indexDir}}/pages/about_us.html">about us</a></li>
  <li><a href="{{indexDir}}/pages/blog.html">blog</a></li>
  <li><a href="{{indexDir}}/pages/article.html">article</a></li>
  <li><a href="{{indexDir}}/pages/order.html">order</a></li>
  <li><a href="{{indexDir}}/pages/page_not_found.html">404 page not found</a></li>
</ul>

{{> footer }}

